---
layout: base
---

{% include header.html type="page" %}


  <!-- Load the JS file -->
  <!--<script src="https://cdn.jsdelivr.net/npm/@gitgraph/js"></script>-->
  <script src="{{ 'assets/js/gitgraph.js' | relative_url }}"></script>
    <div class=" container-md ">
  {{ content }}

  <button class="btn btn-warning btn-lg get-started-btn" onclick="proccess(-1)">Evento anterior</button><button class="btn btn-success btn-lg get-started-btn" onclick="proccess(1)">Próximo evento</button>
  <p class="box-note"><strong>Evento Nexus:</strong> <span id="evento-span"></span></p>
  <div id="graph-container"></div>
</div>
  <!-- Use the `GitgraphJS` global variable to create your graph -->
  <script>

  var branchesOrder = ['Thanos sequestra Nebulosa', 'Recuperar a Joia do PODER', 'Roubo da Joia da MENTE', 'Roubo da Joia do ESPAÇO', 'Linha do tempo sagrada', 'Recuperar a Joia do TEMPO', 'Recuperar A Joia da REALIDADE', 'Recuperar a Joia da ALMA'];
      var compareBranchesOrder = function(a, b) {
        return branchesOrder.indexOf(a) - branchesOrder.indexOf(b);
      };
  var count = 0;
  
    const graphContainer = document.getElementById("graph-container");
    const eventoSpan = document.getElementById("evento-span");

        // Instantiate the graph.
        const gitgraph = GitgraphJS.createGitgraph(graphContainer, {
            author: 'Uatu <uatu@marvel.com>',
            compareBranchesOrder: compareBranchesOrder,
            displayHash: false,
        });
    
    var events = JSON.parse('{{ site.data.events | jsonify }}');
    events[0].b = gitgraph.branch(events[0].title);
    function build(id){
        if(events[id].eventType=='commit'){
            events[events[id].branchFrom].b.commit({
                subject: events[id].title,
                message:{displayHash: false},
            });
        }
        else if(events[id].eventType=='branch'){
            events[id].b = events[events[id].branchFrom].b.branch({
                name: events[id].title,
                style: {
                    color: events[id].color
                },
                commitDefaultOptions: {
                    style: {
                        color: events[id].color,
                    message: {
                        color: events[id].color
                    },
                    dot: {
                        color: events[id].color
                    }
                    }
                }
            });
            events[id].b.commit('Nova ramificação');
        }
        else if(events[id].eventType=='merge'){
            events[id].b = events[0].b.merge(events[events[id].branchFrom].b);
            events[0].b.commit({
                subject: 'Ramo podado',
                type: "mergeCommit",
                });
        }
        else if(events[id].eventType=='committag'){
            events[events[id].branchFrom].b.commit({
                subject: events[id].title,
                message:{displayHash: false},
            }).tag(events[id].tag);
        }
    }
    function compare( a, b ) {
  if ( a.order < b.order ){
    return -1;
  }
  if ( a.order > b.order ){
    return 1;
  }
  return 0;
}
function proccess(valor) {
    if(count<=events.length+1&&count+valor>0){
        count=count+valor;
    }
        eventoSpan.innerHTML=events[count].title+": "+events[count].subtitle;
        subarray = events.slice(1, count+1);
        subarray.sort(compare);
        // Get the graph container HTML element.
        gitgraph.clear();
        events[0].b = gitgraph.branch({
            name: events[0].title,
            style: {
                color: events[0].color
            },
            commitDefaultOptions: {
                style: {
                    color: events[0].color,
                message: {
                    color: events[0].color
                },
                dot: {
                    color: events[0].color
                }
                }
            }
        });
        events[0].b.commit({
            subject: 'Origem',
            messageHashDisplay: false,
        });
        subarray.forEach(function(valor, chave){
            build(valor.id);
        });

}
  </script>
